.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
  z-index: 100;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  position: relative;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  padding: 34px 36px 37px;
  width: 100%;
  max-width: 430px;
  box-sizing: border-box;
}

.button_type_close {
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url("../assets/images/close-button.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
  transition: opacity 0.3s ease-in-out;
}

.button_type_close:hover {
  opacity: 0.6;
}

.popup__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  margin-bottom: 54px;
}

.popup__form {
  display: flex;
  flex-direction: column;
}

.popup__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px 0 8px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  outline: none;
}

.popup__input:last-of-type {
  margin-bottom: 48px;
}

.popup__button_type_save {
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.popup__button_type_save:hover {
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px;
  }

  .button_type_close {
    top: -36px;
    right: 0;
    width: 26px;
    height: 26px;
  }

  .button_type_close img {
    width: 100%;
    height: 100%;
  }

  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 75px;
  }

  .popup__input {
    margin-bottom: 25px;
  }

  .popup__input:last-of-type {
    margin-bottom: 45px;
  }

  .popup__button_type_save {
    font-size: 14px;
    line-height: 17px;
    height: 46px;
  }
}

.popup_type_image {
  background-color: rgba(0, 0, 0, 0.9);
}

.popup_type_image .popup__container {
  max-width: none;
  background-color: transparent;
  padding: 0;
  color: #fff;
  border-radius: 0;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
}

.popup_type_image .button_type_close {
  background-image: url("../assets/images/close-button.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  z-index: 1;
}

.popup_type_image .popup__title {
  margin: 0;
  margin-top: 10px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
}

.popup_type_image .popup__image {
  max-width: 75vw;
  max-height: 75vh;
  object-fit: contain;
}

.popup__image-container {
  position: relative;
  width: fit-content;
  max-width: 75vw;
  max-height: 75vh;
}

@media screen and (max-width: 600px) {
  .popup_type_image .button_type_close {
    top: 20px;
    right: 20px;
  }
}

.popup__input_type_error {
  border-bottom: 1px solid #ff0000;
}

.popup__error {
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 5px;
}

.popup__error_visible {
  visibility: visible;
  opacity: 1;
}

.popup__button_disabled {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: default;
  pointer-events: none;
}

.popup_type_delete-confirm .popup__button_type_save {
  color: #fff !important; 
}
