.profile {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 40px auto 51px;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.profile__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.profile__info-wrapper {
  display: flex;
  align-items: center;
  gap: 18px;
}

.profile__name {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.button_type_edit {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}

.button_type_edit:hover {
  opacity: 0.6;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  margin-left: auto;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__add-button:hover {
  opacity: 0.6;
}

.button__icon {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    gap: 26px;
    margin: 42px auto 36px;
    padding: 0;
    width: 100%;
  }

  .profile__info-wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .profile__name {
    font-size: 27px;
    line-height: 33px;
    flex-shrink: 1;
  }

  .profile__description {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    max-width: 282px;
    text-align: center;
  }

  .button_type_edit {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
  }

  .profile__add-button {
    width: 100%;
    max-width: 282px;
    height: 50px;
    margin: 0 auto;
  }
}

.profile__avatar-container {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
}

.button_type_edit-avatar {
  background-image: url("../assets/images/edit-profile-image.svg");
  background-color: rgba(0, 0, 0, 0.8);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 26px;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  border: none;
  padding: 0;
}

.profile__avatar-container:hover .button_type_edit-avatar {
  opacity: 1;
  pointer-events: all;
}

.profile__avatar-container:hover .profile__image {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
